@font-face {
    font-family: 'star';
    src: url('fonts/MUNMAK_BYEOLBANCHE.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sun';
    src:url('fonts/MUNMAK_HAEBANCHE.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: darkseagreen;
    padding: 50px 50px;
}

.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: ghostwhite;
    flex-direction: column;
}

.header-container{
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    gap: 200px;
    padding-top: 50px;
    align-items: flex-start;
}

.my-photo img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.my-photo{
    outline: darkseagreen solid 2px;
}

.my-information-box{
    display: flex;
    flex-direction: column;
    line-height: 2px;
}

.my-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 35px;
}

.my-birth{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-email{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-job{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-story{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 15px;
    line-height: 30px;
}


/*경력칸*/

.career-container{
    display: flex;
    padding: 50px 300px;

}

.career-box {
    width: 100%;
    height: 50px;
    color: darkolivegreen;
    border-bottom: 2px solid darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}


.first-career-btn{
    font-family: 'star';
    background-color: snow;

    color: darkolivegreen;
    border-radius: 50%;
    font-size: 20px;

    padding : 10px 10px;
    border: 2px solid darkolivegreen;
}

.first-career-btn:hover{
    filter: brightness(1.5);
}

.first-career-btn:active{
    filter: brightness(0.5);
}

.second-career-btn{
    font-family: 'star';
    background-color: snow;

    color: darkolivegreen;
    border-radius: 50%;
    font-size: 20px;

    padding : 10px 10px;
    border: 2px solid darkolivegreen;

}

.second-career-btn:hover{
    filter: brightness(1.5);
}

.second-career-btn:active{
    filter: brightness(0.5);
}

.third-career-btn{
    font-family: 'star';
    background-color: snow;
    color: darkolivegreen;
    border-radius: 50%;
    font-size: 20px;
    padding : 10px 10px;
    border: 2px solid darkolivegreen;

}

.third-career-btn:hover{
    filter: brightness(1.5);
}

.third-career-btn:active{
    filter: brightness(0.5);
}

.fourth-career-btn{
    font-family: 'star';
    background-color: snow;
    color: darkolivegreen;
    border-radius: 50%;
    font-size: 20px;
    padding : 10px 10px;
    border: 2px solid darkolivegreen;

}

.fourth-career-btn:hover{
    filter: brightness(1.5);
}

.fourth-career-btn:active{
    filter: brightness(0.5);
}


.career-btn-wrapper {
    position: relative;
}



/*첫번째 직업 칸*/

.first-career-container{

    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: snow;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    z-index: 10;
}


.first-career-container.active{
    display: flex;
    flex-direction: column;
}

.first-career-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 20px;
}

.first-career-what{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.first-career-how{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.first-career-much{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

/*두번째 직업 칸*/

.second-career-container{

    display: none;
    position: absolute;
    top: 50px;
    left:0px;
    background-color: snow;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    z-index: 10;
}

.second-career-container.active{
    display: flex;
    flex-direction: column;
}

.second-career-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 20px;
}

.second-career-what{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.second-career-how{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.second-career-much{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

/*세번째 경력칸*/

.third-career-container{
    display: none;
    position: absolute;
    top: 50px;
    left:0px;
    background-color: snow;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    z-index: 10;
}

.third-career-container.active{
    display: flex;
    flex-direction: column;
}

.third-career-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 20px;
}

.third-career-what{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.third-career-how{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.third-career-much{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

/*네번째 직업칸*/

.fourth-career-container{

    display: none;
    position: absolute;
    top: 50px;
    left:0px;
    background-color: snow;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    z-index: 10;
}

.fourth-career-container.active{
    display: flex;
    flex-direction: column;
}

.fourth-career-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 20px;
}

.fourth-career-what{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.fourth-career-how{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}
.fourth-career-much{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

/*두번째 섹션*/

.second-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*학력 라인*/

.education-title{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 25px;
    margin-left: 100px;
}

.education-box{
    width: 350px;
    height: 150px;
    border: 2px solid darkolivegreen;
    background-color: darkolivegreen;
    border-radius: 10px;

    margin-left: 100px;
    MARGIN-TOP: 20px;

    padding: 20px;
}

.middle-school{
    font-family: 'star';
    color: snow;
}

.university{
    font-family: 'star';
    color: snow;
}

.video-class{
    font-family: 'star';
    color: snow;
}

.polytech{
    font-family: 'star';
    color: snow;
}


/*포폴 라인*/

.portfolio-title{
    font-family: 'star';
    color: darkslategray;
    font-size: 25px;
    margin-left: 50px;
    margin-left: 100px;
}

.portfolio-box{
    width: 350px;
    height: 150px;
    border: 2px solid darkslategray;
    background-color: darkslategray;
    border-radius: 10px;
    margin-left: 100px;
    MARGIN-TOP: 20px;
    padding: 20px;
}

.my-video{
    font-family: 'star';
    color: snow;
    font-size: 15px;
    text-decoration: none;
}

.my-video:hover{
    text-decoration: underline;
}

.my-video-second{
    font-family: 'star';
    color: snow;
    font-size: 15px;
    text-decoration: none;
}

.my-video-second:hover{
    text-decoration: underline;
}

.my-video-third{
    font-family: 'star';
    color: snow;
    font-size: 15px;
    text-decoration: none;
}

.my-video-third:hover{
    text-decoration: underline;
}

.my-video-fourth{
    font-family: 'star';
    color: snow;
    font-size: 15px;
    text-decoration: none;
}
.my-video-fourth:hover{
    text-decoration: underline;
}