@font-face {
    font-family: 'star';
    src: url('fonts/MUNMAK_BYEOLBANCHE.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sun';
    src:url('fonts/MUNMAK_HAEBANCHE.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: darkseagreen;
    padding: 50px 50px;
}

.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: ghostwhite;
}

.header-container{
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: space-around;
    padding-top: 50px;
    align-items: flex-start;
}

.my-photo img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.my-photo{
    outline: darkseagreen solid 2px;
}

.my-information-box{
    display: flex;
    flex-direction: column;
    line-height: 2px;
}

.my-name{
    font-family: 'star';
    color: darkolivegreen;
    font-size: 35px;
}

.my-birth{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-email{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-job{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 20px;
}

.my-story{
    font-family: 'sun';
    color: darkolivegreen;
    font-size: 15px;
    line-height: 30px;
}